* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

header {
  border: 1px solid #000;
  padding: 2rem;
}

h1,
h2 {
  margin-bottom: 0.8rem;
}

.container {
  border: 1px solid gray;
  padding: 2rem;

  max-width: 800px;
  margin-inline: auto;
}

.element {
  border: 1px solid #000;
  padding: 2rem;
}

.pai {
  /* teste 1 */
  /* border: 1px solid #000;
  background-color: blue;
  position: relative;
  height: 24rem; */

  /* ja fora no teste 1 */
  /* padding: 2rem; */

  /* teste 2 */
}

.tape-container {
  /* teste 1 */
  /* position: absolute;
  top: 0;
  margin-block: 2rem;
  overflow: visible;
  width: 100vw;
  background-color: red;
  padding: 2rem;
  left: -50%; */

  /* ja fora no teste 1 */
  /* right: 100vh; */
  /* transform: translateX(-25%); */

  /* teste 2 */
  background-color: green;
  position: relative;
}

.tape-container::after {
  content: "a";
  border: 1px solid #000;

  position: absolute;
  /* width: 100vw; */
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */

  background: red;

  height: 100%;

  z-index: 99;
}

.cards {
  display: flex;
  gap: 2rem;
  flex: 1;
}

.card {
  border: 1px solid #000;
  padding: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #aaa;

  background-color: #fff;

  height: 8rem;
}
