.container{
  display: flex;
  gap: 2rem;

  padding: 2rem;
}

.card{
  border-radius: 1rem;
  padding: 2rem;

  background-color: var(--blue-100);
  color: var(--white-100);
  
  transition: 0.3s all;
}

.card:hover{
  background-color: var(--blue-300);
}